## Experimento Frank-Hertz: Análise dos Dados
#### Paulo Henrique Lorenzoni Filho

In [1]:
import pandas as pd
import numpy as np

In [2]:
T175max=[4.91,4.96,5.1,5.16, 4.91,5.01,5.05,5.21,4.91,4.91,5.01,5.00,5.11,5.17, '-','-','-','-']
t175max=[4.91,4.96,5.1,5.16, 4.91,5.01,5.05,5.21,4.91,4.91,5.01,5.00,5.11,5.17]

T175min=[5.06,4.96,5.13,5.12,4.83,5.01,5.06,5.12,5.06,4.83,5.01,5.05,5.08,5.11,'-','-','-','-']
t175min=[5.06,4.96,5.13,5.12,4.83,5.01,5.06,5.12,5.06,4.83,5.01,5.05,5.08,5.11]
len(T175min)

18

In [3]:
T180max=[4.86,5.01,4.95,5.11,5.13,5.39, 4.91,4.88,4.96,5.08,4.96,5.2,4.93,4.96,5.01,5.08,5.17,4.64]
T180min=[4.86,4.93,4.98, 5.18,5.08,4.93,4.83,4.81,5.05,5.06,5.05,5.06,5.03,4.91,5.00,5.08,5.11,4.83]

In [4]:
T185max=[4.89,4.91,5.00,5.01,5.05,5.16,4.79,4.91,4.95,4.99,5.03,5.1,4.76,4.81,5.01,4.91,5.03,5.00]
T185min=[5.03,4.86,5.05,5.01,5.05,5.13,4.69,4.81,5.05,5.03,4.96,5.11,5.06,4.74,4.86,5.00,4.98,5.03]

In [5]:
T190max=[4.91,4.86,4.98,4.96,5.06,5.1,4.79,4.91,4.9,4.96,5.03,4.98,4.91,4.86,5.01,5.05,5.01,5.1]
T190min=[4.86,4.73,5.04,5.00,5.03,5.13,4.73,4.79,4.81,5.05,4.96, 5.1,4.72,5.1,4.81,5.1,5.06,5.08]

In [6]:
dic={'175°C Dif. Max.':T175max,'175°C Dif. Min.':T175min,'180°C Dif. Max.':T180max,'180°C Dif. Min.':T180min,
    '185°C Dif. Max.':T185max, '185°C Dif. Min.':T185min,'190°C Dif. Max.':T190max, '190°C Dif. Min.':T190min}

In [7]:
pd.DataFrame(data=dic, index=np.arange(1,19,1))

,175°C Dif. Max.,175°C Dif. Min.,180°C Dif. Max.,180°C Dif. Min.,185°C Dif. Max.,185°C Dif. Min.,190°C Dif. Max.,190°C Dif. Min.
1,4.91,5.06,4.86,4.86,4.89,5.03,4.91,4.86
2,4.96,4.96,5.01,4.93,4.91,4.86,4.86,4.73
3,5.1,5.13,4.95,4.98,5.00,5.05,4.98,5.04
4,5.16,5.12,5.11,5.18,5.01,5.01,4.96,5.00
5,4.91,4.83,5.13,5.08,5.05,5.05,5.06,5.03
6,5.01,5.01,5.39,4.93,5.16,5.13,5.10,5.13
7,5.05,5.06,4.91,4.83,4.79,4.69,4.79,4.73
8,5.21,5.12,4.88,4.81,4.91,4.81,4.91,4.79
9,4.91,5.06,4.96,5.05,4.95,5.05,4.90,4.81
10,4.91,4.83,5.08,5.06,4.99,5.03,4.96,5.05
11,5.01,5.01,4.96,5.05,5.03,4.96,5.03,4.96
12,5.0,5.05,5.20,5.06,5.10,5.11,4.98,5.10
13,5.11,5.08,4.93,5.03,4.76,5.06,4.91,4.72
14,5.17,5.11,4.96,4.91,4.81,4.74,4.86,5.10
15,-,-,5.01,5.00,5.01,4.86,5.01,4.81
16,-,-,5.08,5.08,4.91,5.00,5.05,5.10
17,-,-,5.17,5.11,5.03,4.98,5.01,5.06
18,-,-,4.64,4.83,5.00,5.03,5.10,5.08

In [8]:
medias=[np.mean(t175max),np.mean(t175min),np.mean(T180max),np.mean(T180min), np.mean(T185max), np.mean(T185min),
       np.mean(T190max), np.mean(T190min)]

In [9]:
desvio_media=[np.std(t175max)/np.sqrt(14),np.std(t175min)/np.sqrt(14),np.std(T180max)/np.sqrt(18),np.std(T180min)/np.sqrt(18),
              np.std(T185max)/np.sqrt(18), np.std(T185min)/np.sqrt(18), np.std(T190max)/np.sqrt(18), np.std(T190min)/np.sqrt(18)]

In [10]:
pd.set_option('display.precision',2)
df=pd.DataFrame(data={'Média':medias, 'Desvio da Média':desvio_media},index=['T 175max','T 175min','T 180max','T 180min','T 185max','T 185min','T 190max','T 190min'])
df.index.name='Temperaturas'
df

              Média  Desvio da Média
Temperaturas
T 175max       5.03             0.03
T 175min       5.03             0.03
T 180max       5.01             0.04
T 180min       4.99             0.02
T 185max       4.96             0.02
T 185min       4.97             0.03
T 190max       4.97             0.02
T 190min       4.95             0.03

In [11]:

h=6.63*10**(-34) #Constante de Planck
E=7.85*10**(-19) #joules
c=299792458
comprimento_de_onda=h*c/E
comprimento_de_onda*10**(9) #nanometros

253.2005091133758